.editors-pick-image {
  height: 166px;
  width: 166px;
  top: 160px;
  left: 130px;
  border-radius: 8px;
  margin-right: 48px;
}

.track-name {
  width: 113px;
  height: 21px;
  top: 342px;
  left: 157px;

  font-family: Assistant;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 48px;
  color: #f8fafc;
}

.link-class {
  text-decoration: none;
  text-align: center;
}
